body {
    background-color: #ffe6c9;
    margin: 0;
}

#sidebar{
    background-color: rgb(255, 203, 168);
    float: left;
    width: 20%;
    height: 100%;
    position: fixed;
    margin: 0;
}

#main{
    float:left;
    width: 80%;
    margin-left: 20%;
    padding-left: 10%;
}

#instruction, h2, p, #title, #word{
    text-align: left;
}

h2, p, label, input, button, a, form{
    font-family: "Arial", sans-serif;
    text-align: center;
}