<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="home.css">
    <title>Verbatm | Home</title>
</head>
<body>
    <div id="sidebar">
        <img src="./img/ellehacks.png" id="profile pic">
        <br><br>
        <h2>User Name</h2>
        <h2>Points So Far: </h2>
        <h2 id="points">0</h2>
    </div>
    <div id = "main">
        <h2 id="title">Level One</h2>
        <br>
        <p id = "instruction">Read the following word out loud.</p>
        <img id="question" alt="" width="150" height="160" />
        <p id="word"></p>
        <br>
        <button id="Next" onclick="next()">Get Picture</button>

        <p>See link and click "Listen" on the right side for proper pronunciation. Did you get it right?</p><br>
        <a id="link"></a>
        <button id="Correct" onclick="correct()">I got it right!</button>
    </div>

    <script src="words.js"></script>
    <script src="home.js"></script>
</body>

</html>
