<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="index.css">
    <title>Verbatm | Log In</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>


<form action="/action_page.php">
    <div class="imgcontainer">
        <img src="./img/ellehacks.png" id="avatar">
        <h2><b>Welcome to Verbatm!</b></h2>
        <p><b>Speak with confidence - Improve your English!</b></p>
        <br>
        <center><label><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="uname" required>
            <br>
            <br>
            <label><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="psw" required>

            <form>
                <br>
                <br>
                <label><b>Select Difficulty</b></label><br>
                <input type="radio" name="level" value="Beginner" checked> Beginner<br>
                <input type="radio" name="level" value="Intermediate"> Intermediate<br>
                <input type="radio" name="level" value="Expert"> Expert
            </form>
            <br>
            <br>
            <div id="button"><a href="home.html">Let's Begin!</a></div>
            <br>
            <label>
                <input type="checkbox" checked="checked"> Remember me
            </label>
    </div>

    </center>
    <div class="container" style="background-color:#f1f1f1">


    </div>
</form>

</body>
</html>
